/* Select Input Base Styles */
.select-input {
  min-height: 48px !important;
  width: 100% !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none;
  border-radius: 10px !important;
}

@media (min-width: 1024px) {
  .select-input {
    min-height: 48px !important;
    width: 100% !important    ;
  }
}

.select-input__wrapper {
  width: 100% !important;
  border-radius: 10px !important;
  /* margin-bottom: 1.5rem !important; */
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  outline: none;
}

.select-input__label {
  display: flex;
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 500;
  color: #3a3941;
}

.select-input__control {
  border: none !important;
  background: transparent !important;
  font-size: 16px;
  min-height: 60px !important;
  border-radius: 10px !important;
  padding: 8 16px !important;
  border: 1px solid #d6d6d6 !important;
}

@media (min-width: 1024px) {
  .select-input__control {
    min-height: 60px !important;
    font-size: 16px !important;
    border-radius: 10px !important;
  }
}

.select-input__control--is-focused {
  background-color: #f7f7f8 !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  border-radius: 15px !important;
  border: 1px solid #c7cbd6 !important;
}

.select-input__control--is-focused:hover {
  border-color: #3a3941 !important;
}

/* Error States */
.select-input--has-error .select-input__control {
  border-color: #f00 !important;
  color: #666666;
}

.select-input--has-error .select-input__control--is-focused {
  box-shadow: none;
  border-color: #f00 !important;

  color: #666666;
}

/* Options Styling */
.select-input__option {
  padding: 0px 12px !important;
  height: 48px !important;
  font-size: 16px !important;
  display: flex !important;
  align-items: center !important;
  border-bottom: none !important;
  border-radius: 10px !important;
  font-weight: 500 !important;
}

.select-input__option:last-of-type {
  border-bottom: none;
}

.select-input__option--is-selected {
  color: #f7f7f8 !important;
  background-color: #3a3941 !important;
  font-weight: 700 !important;
  opacity: 60%;
}

.select-input__option--is-selected:active,
.select-input__option--is-selected:focus {
  background-color: transparent !important;
}

.select-input__option--is-focused {
  color: #f7f7f8 !important;
  background-color: #3a3a3a !important;
  font-weight: 700 !important;
}

.select-input__option--is-focused:active,
.select-input__option--is-focused:focus {
  background-color: #f7f7f8 !important;
  color: #4e4c58 !important;
  font-weight: 700 !important;
}

/* Input Elements */
.select-input__indicator {
  padding: 7px 0;
}

.select-input-hide-icon .select-input__indicator {
  display: none;
}

.select-input__placeholder {
  color: #3A3941/60 !important;
  text-transform: capitalize;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .select-input__placeholder {
    font-size: 16px !important;
  }
}

.select-input__clear-indicator {
  cursor: pointer;
}

.select-input__indicator-separator {
  display: none;
}

.select-input__single-value {
  font-weight: 500;
  color: #3a3941 !important;
  font-size: 14px;
  opacity: 60%;
}

@media (min-width: 1024px) {
  .select-input__single-value {
    font-size: 16px !important;
  }
}

/* Multi-value Styling */
.select-input__multi-value {
  background-color: transparent !important;
  color: var(--color-text) !important;
  border: 1px solid #c7cbd6;
  height: 28px !important;
  min-width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px !important;
  padding: 0 8px;
}

.select-input__multi-value__label {
  color: var(--color-text) !important;
}

.select-input__multi-value__remove {
  color: var(--color-gray) !important;
}

.select-input__multi-value__remove:hover {
  background-color: transparent !important;
}

.select-input__menu {
  border-radius: 15px !important;
  padding: 5px !important;
  border: none !important;
  background-color: #f7f7f8 !important;
}

.select-input__menu-list {
  max-height: 204px !important;
  overflow-y: auto;
}

/* Custom Option Styles */
.select-input--has-custom-option .select-input__option {
  /* border: 1px solid #C7CBD6 !important;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  padding: 16px 8px; */
}

.select-input--has-custom-option .select-input__option:hover {
  /* background-color: rgba(var(--color-border-rgb), 0.5) !important; */
}

.select-input--has-custom-option .select-input__option--is-selected {
  /* background-color: rgba(var(--color-border-rgb), 0.5) !important; */
}

.select-input--has-custom-option .select-input__menu-list {
  /* padding: 16px !important; */
}

/* Disabled States */
.select-input--is-disabled .select-input__control {
  background-color: #efebe9 !important;
  color: var(--text) !important;
}

.select-input--is-disabled .select-input__multi-value,
.select-input__single-value--is-disabled {
  color: var(--text) !important;
}

/* CSS Variables (add these to :root or a parent element) */
