:root {
  --primary-color: #ff8e0a;
  --secondary-color: #929292;
  --black-color: #303030;
  --white-color: #f9f9f9;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --padding: 20px;
  --margin: 20px;
}
body {
  margin: 0 auto;
  font-family: var(--font-family);
}

/* first header style  */
.first-header {
  background-color: var(--black-color);
  color: var(--white-color);
}
.first-header-nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
  gap: 8px;
}

.first-header-nav-item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  flex-wrap: wrap;
}

/* second header style  */
.second-header {
  background-color: var(--white-color);
  color: var(--black-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.second-header-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.second-header-container .second-header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .second-header-container .second-header-nav {
    flex-wrap: nowrap;
  }
}

.second-header-container .second-header-nav h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .second-header-container .second-header-nav h1 {
    width: auto;
  }
}
.second-header-container .second-header-nav h1 span {
  color: var(--black-color);
}

.second-header-container .second-header-nav .second-header-nav-description {
  font-weight: 300;
  font-size: 12px;
  color: var(--black-color);
}

.second-header-container .second-header-nav-info,
.second-header-nav-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}

.second-header-container .second-header-nav-info {
  flex-direction: column;
}

@media (min-width: 768px) {
  .second-header-container .second-header-nav-info,
  .second-header-nav-actions {
    width: auto;
  }
  .second-header-container .second-header-nav-info {
    flex-direction: row;
  }
}

.second-header-container .second-header-nav .second-header-nav-search {
  display: flex;
  align-content: center;
  border: 1px solid #d8d8d8;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 784px) {
  .second-header-container .second-header-nav .second-header-nav-search {
    width: 140px;
  }
}

@media (min-width: 932px) {
  .second-header-container .second-header-nav .second-header-nav-search {
    width: 240px;
  }
}
@media (min-width: 1169px) {
  .second-header-container .second-header-nav .second-header-nav-search {
    width: 500px;
  }
}

@media (min-width: 1363px) {
  .second-header-container .second-header-nav .second-header-nav-search {
    width: 700px;
  }
}

.second-header-container .second-header-nav .second-header-nav-search input {
  border: none;
  outline: none;
  padding: 8px 16px;
  font-size: 14px;
  width: 100%;
  color: var(--secondary-color);
}

.second-header-container .second-header-nav .second-header-nav-search button {
  background: var(--primary-color);
  border: none;
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
}

.second-header-container .second-header-nav .second-header-nav-office-hours {
  font-weight: 300;
  font-size: 12px;
  color: var(--primary-color);
}

.icon {
  width: 15px;
  height: 15px;
}
.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.icons-group {
  display: flex;
  align-items: center;
  gap: 8px;
}
.second-header-nav-favorites {
  position: relative;
}
.second-header-nav-favorites .second-header-nav-favorites-icon {
  width: 30px;
  height: 30px;
}
.second-header-nav-favorites .second-header-nav-favorites-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.second-header-container .second-header-nav-cart {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.second-header-nav-cart-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.second-header-nav-cart-icon-and-count {
  position: relative;
}

.second-header-nav-cart-icon-and-count .second-header-nav-cart-icon {
  width: 30px;
  height: 30px;
}
.second-header-nav-cart-icon-and-count .second-header-nav-cart-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.second-header-nav-favorites .second-header-nav-favorites-fav-count,
.second-header-nav-cart-icon-and-count-count {
  position: absolute;
  top: -2px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-header-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}
.second-header-tab-all {
  background-color: var(--primary-color);
  padding: 10px;
  flex-basis: 20%;
  color: var(--white-color);
}

.second-header-tab-all div:nth-child(2) {
  min-width: 100px;
}
.second-header-tabs .tab {
  padding: 10px;
  color: var(--secondary-color);
  cursor: pointer;
}

/* breadcrumbs */
.breadcrumbs-container {
  max-width: 1440px;
  margin: 0 auto;
}
.breadcrumbs {
  padding: 12px 10px;
  font-size: 14px;
  color: var(--secondary-color);
}
.breadcrumbs span {
  margin: 0 4px;
}

/* footer style  */
footer {
  background: var(--black-color);
}
.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  color: var(--white-color);
}
.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-container .footer-group {
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .footer-container .footer-group {
    flex-basis: 20%;
  }
}
ul {
  list-style: none;
  padding: 0;
}
.footer-container .footer-group ul li {
  padding: 5px 0;
  color: var(--secondary-color);
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-icons span {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.social-icons span img {
  width: 100%;
  height: 100%;
}
.subscription-input {
  display: flex;
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 0px !important;
  margin: 10px 0;
}
.subscription-input input {
  border: none;
  outline: none;
  padding: 8px 16px;
  font-size: 14px;
  width: 100%;
  color: var(--black-color);
}
.subscription-input button {
  background: var(--primary-color);
  border: none;
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
  color: var(--white-color);
}

.secondary-footer {
  border-top: 1px solid var(--secondary-color);
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.payment-methods {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

/* main content style */
.main-container {
  padding: 20px;
  background-color: var(--white-color);
  max-width: 1440px;
  margin: 0 auto;
  min-height: 400px;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (min-width: 798px) {
  .content-wrapper {
    flex-wrap: nowrap;
  }
}

aside {
  flex-basis: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
@media (min-width: 798px) {
  aside {
    flex-basis: 22%;
  }
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
@media (min-width: 576px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .card-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
main {
  width: 100%;
}
main .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  background: var(--white-color);
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: relative;
}

main .card .card--image {
  border-radius: 6px;
  min-height: 200px;
}
main .card .card--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 6px;
}

main .card .card--info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

main .card .card--info h4,
h5 {
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
}

main .card .card--info h4 {
  padding: 0;
  margin: 0;
  color: var(--black-color);
}
main .card .when-hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  pointer-events: none;
  transition: all 0.9s ease-in-out;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  overflow: hidden;
}
main .card:hover .card--info .when-hover {
  max-height: 100px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  margin-top: 10px;
}
main .card .card--info .when-hover button {
  border-radius: 30px;
  border: none;
  outline: none;
  background: var(--primary-color);
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
  width: 70%;
}
main .card .card--info .when-hover button:hover {
  opacity: 70%;
}

/* side bar  */

aside {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 10px;
}

.aside-group-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aside-group-title span:first-child {
  font-size: 16px;
  font-weight: 500;
}
.aside-group-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.aside-group-content .aside-group-item label {
  font-size: 14px;
  color: var(--black-color);
}
.aside-group-content .aside-group-item input {
  accent-color: var(--black-color);
}

.aside-group-title span:nth-child(2) {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.aside-group-title img {
  width: 100%;
  height: 100%;
  rotate: 270deg;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.pagination .card {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  outline: none;
  background: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.pagination .card:hover {
  opacity: 70%;
}

.pagination .card:nth-child(2) {
  background: var(--white-color);
  color: var(--primary-color);
}
.pagination .card:nth-child(3) img {
  transform: rotate(180deg);
}
